<html>
	<body>
		<form action='http://127.0.0.1:3000' method='get'>
			data: <input type="text" name="data">
			nodeNumber :<input type="text" name="node_no">
			node_id : <input type="text" name="node_id">
			<input type="submit" value="submit">
		</form>
	</body>
</html>